
@media only screen and (min-width: 1024px){
    header {
        display: block;
        min-height: 75rem;
    }
    
    nav {
        padding: 0 10%;
        margin: 0 auto;
    }

    img.logo {
        width: auto;
        margin: 0 auto;
    }

    .header-icons {
        position: absolute;
        top: 2%;
        right: 15%;
    }
}

@media only screen and (min-width: 1200px){

    nav {
        display: block;
        background: none;
        color: #fff;
        top: 6%;
    }
    
    aside#custom_html-6 {
        display: none;
    }
    
    nav ul {
        display: flex;
        justify-content: space-between
    
    }
    
    nav ul li {
        border: none;
    }

    ul#menu-main-menu {
        width: 90%;
        margin: 0 auto;
    }
       
    
    nav ul.menu li {
        padding: 1rem 3rem;
    }
    
    li#menu-item-41:hover li#menu-item-37 {
        margin-left: 0;
    }
    
    ul.sub-menu {
        position: absolute;
        background: #fff;
        color: #000;
        padding-left: 0;
        margin-top: 1rem;
    }
    
    .sub-menu li {
        width: 31rem;
        border-bottom: 1px solid #000;
    }

    .user-icon {
        display: inline-block;
    }

    // menu icon 
    svg#svg-replaced-2 {
        display: none;
    }
    
}

@media only screen and (min-width: 1715px){

    nav {
        top: 19%;
        padding: 0 10%;
    }
    
}