/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class], ol[class] {
  padding: 0;
}
/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  /* base size 10px */
}
body {
  font-size: 1.6rem;
  line-height: 1.25;
  font-family: 'Oxygen', sans-serif;
}
.wrapper {
  max-width: 1920px;
  /* max screen size */
  margin: 0 auto;
}
/* Typography */
h1 {
  font-size: 3.906rem;
  line-height: 7.2rem;
  font-family: 'Adam Bold', Arial, sans-serif;
}
h2 {
  font-size: 2.5rem;
  line-height: 4.8rem;
  font-family: 'Adam Bold', Arial, sans-serif;
}
h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  /* 16px */
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}
/* default links style */
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #e5c778;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
  position: relative;
}
header svg {
  width: 4rem;
  height: 3.2rem;
  color: #fff;
}
.header-icons {
  margin-top: 7rem;
}
img.logo {
  margin-top: 5rem;
}
/* svg menu icon */
svg#svg-replaced-2 {
  height: 3.4rem;
}
.menu-icon {
  display: inline;
}
.user-icon {
  display: inline-block;
}
nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 6rem 0;
  text-transform: uppercase;
}
nav.show-nav {
  display: block;
}
nav ul li {
  border-bottom: 1px solid #000;
  padding: 1rem 6rem;
  font-weight: bold;
}
/* Mobile nav close icon X */
.close-icon {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.close-icon:after {
  content: '';
  height: 4rem;
  border-left: 2px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}
.close-icon:before {
  content: '';
  height: 4rem;
  border-left: 2px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}
aside#custom_html-6 {
  position: absolute;
  right: 4%;
  top: 3%;
}
.sub-menu {
  display: none;
}
.menu-item:hover .sub-menu {
  display: block;
}
img.menu-image {
  width: 4rem;
  height: 4rem;
}
.home-content {
  margin: 2.4rem 5%;
}
button.shop-now {
  padding: 0.5rem 2rem;
  background: #fff;
  font-weight: bold;
}
.featured-container {
  margin-bottom: 4.8rem;
}
.featured-container img {
  margin-bottom: 2.4rem;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .featured-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
  }
  .text-left {
    grid-template-columns: 1fr 2fr;
  }
  .text-left img {
    grid-column: 2/-1;
  }
  .text-left div {
    grid-row: 1/2;
  }
}
@media only screen and (min-width: 1200px) {
  .featured-container div {
    align-self: center;
  }
  .featured-container h2 {
    font-size: 5.4rem;
    line-height: 7.2rem;
    margin-bottom: 2.4rem;
  }
  button.shop-now {
    padding: 1rem 5rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 480px) {
  .header-icons {
    margin-top: 7rem;
    margin-right: 5rem;
  }
  img.logo {
    margin-top: 5rem;
    margin-left: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    display: block;
    min-height: 75rem;
  }
  img.logo {
    width: auto;
    margin: 0 auto;
    padding: 5% 0;
  }
  .header-icons {
    position: absolute;
    top: 2%;
    right: 15%;
    margin: 0;
  }
  nav {
    display: block;
    background: none;
    color: #fff;
    top: 6%;
    top: 14%;
    margin: 0 auto;
    padding: 0;
  }
  aside#custom_html-6 {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    border: none;
  }
  ul#menu-main-menu {
    width: 90%;
    margin: 0 auto;
  }
  img.logo {
    padding: 5% 0;
  }
  li#menu-item-37 {
    margin-left: -6rem;
  }
  li#menu-item-35 {
    margin-left: 24rem;
  }
  nav ul.menu li {
    padding: 1rem 3rem;
  }
  li#menu-item-41:hover li#menu-item-37 {
    margin-left: 0;
  }
  ul.sub-menu {
    position: absolute;
    background: #fff;
    color: #000;
    padding-left: 0;
    margin-top: 1rem;
  }
  .sub-menu li {
    width: 31rem;
    border-bottom: 1px solid #000;
  }
  svg#svg-replaced-2 {
    display: none;
  }
}
@media only screen and (min-width: 1715px) {
  nav {
    top: 19%;
    padding: 0 10%;
  }
}
/* Home page Rehd's secion and footer */
/* font family import */
@font-face {
  font-family: 'Adam';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Light.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Adam Medium';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Medium.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Adam Bold';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Vacations in Paradise';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Vacations-in-Paradise-Personal-Use.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Coolvetica Regular';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/coolvetica-rg.ttf');
  font-weight: normal;
}
/* rehd's mobile css */
/* default */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
/* footer css */
footer {
  background-color: #231f20;
  text-transform: uppercase;
  color: white;
  font-family: "Adam", Arial, sans-serif;
  letter-spacing: 0.25rem;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
footer a:hover {
  color: #e5c778;
}
.rehd-container {
  max-width: 45rem;
  margin: 0 auto;
}
footer > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  padding: 1.81rem 0;
  border-bottom: 1px solid white;
}
footer > div > div:nth-child(2) > div:nth-child(1) {
  display: none;
}
footer h3 {
  color: #e5c778;
  margin: 1rem 0;
  font-size: 2.1rem;
}
footer li {
  margin: 1rem 0;
  font-size: 1.6rem;
}
footer > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
footer > div > div {
  padding: 1rem 0;
  border-bottom: 1px solid white;
}
footer > div:nth-child(2) > div {
  font-size: 1rem;
  border-bottom: none;
}
#media_image-3 {
  display: none;
}
/* end of footer css */
/* section for robert's about me homepage */
.about-me-home, .about-me-home p {
  font-family: 'Adam Medium', Arial, sans-serif;
  letter-spacing: 0.1rem;
  color: #000;
  font-size: 1.4rem;
}
.about-me-home {
  padding: 3rem 0;
}
.about-me-home h1 {
  text-transform: uppercase;
  font-family: 'Adam Bold', Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem 0;
}
.hidden {
  display: none;
}
.about-me-home p {
  padding: 2rem 0;
  padding-top: 0;
}
.about-me-home img {
  width: 100%;
}
.about-me-home a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 1rem;
  font-family: 'Adam Bold', Arial, sans-serif;
  font-weight: bold;
}
.about-me-home a:hover {
  text-decoration: underline;
  background-color: black;
  color: white;
}
/* end of section for robert's about me homepage */
/* tablet css */
@media only screen and (min-width: 767px) {
  /* rehd's tablet css */
  /* footer */
  .rehd-container {
    max-width: 102.2em;
  }
  footer > div > div:nth-child(2) > div:nth-child(1) {
    display: block;
    /* end of footer */
    /* section for robert's about me homepage */
  }
  .about-me-home > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-me-home img {
    width: 100%;
    margin: 0 3rem;
    flex-basis: 40%;
  }
  .about-me-info {
    flex-basis: 35%;
  }
  .about-me-home h1 {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .hidden {
    display: block;
  }
  .about-me-home h1, .about-me-home p, .about-me-home a {
    color: white;
  }
  .about-me-home a {
    border: 1px solid white;
  }
  .about-me-home p {
    padding-bottom: 3rem;
  }
  .about-me-home {
    position: relative;
    margin: 2rem 0;
  }
  #background {
    background: #b3b3b3;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: -1;
    /* end of section for robert's about me homepage */
    /* end of rehd's tablet css */
  }
}
/* adjustment for larger viewport tablet */
@media only screen and (min-width: 921px) {
  .about-me-info {
    flex-basis: 40%;
  }
}
@media only screen and (min-width: 991px) {
  .about-me-home img {
    flex-basis: 45%;
  }
  .about-me-info {
    flex-basis: 48%;
  }
  .about-me-home a {
    font-size: 2.8rem;
  }
  .about-me-home p {
    font-size: 2.1rem;
  }
  .about-me-home h1 {
    font-size: 5.5rem;
  }
}
/* end of tablet css */
/* desktop view */
@media only screen and (min-width: 1024px) {
  /* rehd's desktop css */
  /* footer */
  .rehd-container {
    max-width: 204.8rem;
  }
  footer {
    padding: 5rem 0;
    padding-bottom: 0;
  }
  footer > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer > div:first-child > div {
    flex-basis: 45%;
  }
  footer > div:first-child > div:last-child {
    flex-basis: 50%;
  }
  footer > div:first-child > div:first-child {
    border-bottom: none;
    border-right: 1px solid white;
  }
  footer > div > div {
    border-bottom: none;
  }
  #media_image-2 {
    display: none;
  }
  #media_image-3 {
    display: block;
    padding: 3rem 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > div:first-child > div:nth-child(2) {
    width: 100%;
    margin: 5rem 0;
    justify-content: space-around;
  }
  footer > div:last-child {
    padding-top: 3rem;
  }
  footer > div:nth-child(2) > div {
    font-size: 1rem;
    border-bottom: none;
    border-top: 1px solid white;
    margin: 0 3rem;
    /* end of footer */
    /* section for robert's about me homepage */
  }
  .about-me-info {
    margin: 8% 0;
  }
  .about-me-home img {
    height: 100%;
    flex-basis: 31%;
    /* end of section for robert's about me homepage */
    /* end of rehd's desktop css */
  }
}
/* adjustment size for bigger resolution */
@media only screen and (min-width: 1800px) {
  .about-me-home img {
    flex-basis: 31%;
  }
  .about-me-info {
    flex-basis: 65%;
  }
  .about-me-info {
    margin: 15% 0;
  }
}
@media only screen and (min-width: 2048px) {
  .about-me-home img {
    flex-basis: 45%;
  }
  .about-me-info {
    flex-basis: 48%;
  }
  .about-me-info {
    margin: 15% 0;
  }
  #background {
    left: 40%;
  }
}
/* end of desktop view */
/* * input,
 * button {
 font-size: 1.6rem !important;
 } */
#wppb-submit {
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  background: #f0e7a1;
}
.woocommerce {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .woocommerce {
    width: 50%;
    margin: 0 10%;
  }
}
@media only screen and (min-width: 1100px) {
  .woocommerce {
    width: 30%;
  }
}
.woocommerce {
  width: 100%;
  margin: 0;
}
.post-125 a, .post-125 h2 {
  font-family: 'Adam Bold';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Bold.ttf');
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content > .woocommerce {
  max-width: 45rem;
  margin: 0 auto;
}
#content .products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
#content .products > li {
  margin: 0;
  width: 100%;
  margin-bottom: 4rem;
  flex-basis: calc(100% - 2px);
  float: none !important;
  border: 2px solid #b3b3b3;
  padding: 0.5rem;
}
.woocommerce ul.products::before {
  display: unset;
  content: none;
}
.woocommerce .products ul::after, .woocommerce ul.products::after {
  content: none;
  display: unset;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  text-align: center;
  color: #000;
  font-size: 4rem;
}
.woocommerce ul.products li.product .button {
  display: none;
}
.woocommerce ul.products li.product .price {
  text-align: center;
  color: #000;
  font-size: 1.7rem;
}
.filter {
  display: none;
}
.filter h2 {
  font-family: 'Adam Bold';
  src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Bold.ttf');
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
}
.shop-category > ul {
  display: none;
}
#post-285 .elementor-icon-list-items {
  display: none;
}
@media only screen and (min-width: 767px) {
  #content > .woocommerce {
    max-width: 102.2em;
  }
  #content .products {
    flex-direction: row;
  }
  #content .products > li {
    flex-basis: 48%;
    padding: 0;
  }
  .shop-container {
    max-width: 872px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  #content > .woocommerce {
    max-width: 204.8rem;
  }
  #content .products > li {
    flex-basis: 28%;
    width: 50%;
    float: none !important;
  }
  .shop-container {
    max-width: 1376px;
  }
  .shop-main {
    display: flex;
    justify-content: space-between;
  }
  .filter {
    display: block;
    margin: 0 auto;
  }
  .woocommerce .woocommerce-widget-layered-nav-list {
    font-family: 'Adam';
    src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Light.ttf');
    font-weight: normal;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  .woocommerce .woocommerce-widget-layered-nav-list li a, .woocommerce .woocommerce-widget-layered-nav-list li span {
    font-family: 'Adam';
    src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Light.ttf');
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #000;
  }
  .filter h3 {
    font-family: 'Adam';
    src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Light.ttf');
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #000;
    border-bottom: 1px solid #000;
  }
  .shop-category a {
    font-family: 'Adam';
    src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Light.ttf');
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #000;
    font-size: 3.3rem;
  }
  .shop-category > ul {
    display: flex;
    justify-content: space-around;
  }
  .shop-category {
    padding-bottom: 3rem;
  }
  .shop-category a:hover {
    text-decoration: underline;
  }
  #post-285 .elementor-icon-list-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #post-285 .elementor-icon-list-items a, #post-285 .elementor-icon-list-items span {
    font-family: 'Adam Medium';
    src: url('http://stirbu.web.dmitcapstone.ca/stirbu_landscape/wp-content/uploads/2021/03/Adam-Medium.ttf');
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 3.9rem;
    color: #000;
  }
  #post-285 .elementor-icon-list-items a:hover {
    text-decoration: underline;
  }
}
.my-account-page {
  margin: 0 auto;
}
button.my-account {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #5dbad6;
}
